*{
    margin: 0;
    padding: 0;
    
}
.facebookaccount{
    text-align: center;
background-color: aqua;
margin:auto ;
padding: 40px;


}
.facebookaccount h1{
    color: brown;
    font-size: 50px;
    text-transform: uppercase;


}
h1::first-letter{
    font-size: 120%;
}
form{

}
label{
    color: brown;
}
input{
    width: %;
    color:brown;
    background-color: ;
   
background-color: bisque;}
.face2{
margin: auto;
text-align: center;background-color: #a8a8ca;;padding: 45px;}
.face2 h1{
    color: rgb(18, 219, 219);
    
}
input.face2{
    
}
h1::first-letter{
font-size: 125%;

}
.face3{
margin: auto;
text-align: center;
color: rgb(98, 137, 124);
background-color: rgb(209, 209, 169);
padding: 20px;
text-align: center;

}
.face3 h1{

}
form.face3{


    s
}
input.face3{


}
